
div.card {
    box-shadow: 0px 4px 16px rgb(0 0 0 / 8%)!important;
}

/*tabela*/


ul.pagination li.active a {
   font-weight: bold;
}

.red-status {
    color: #ab3535;
}

/*Tira algusn textos das tabelas*/
.dataTables_info {
    display: none;
}
.bg-color-default-green {
    background-color:  #00ff5f;
    border: none;
}
.bg-color-default-green-2 {
    background-color:  #00c54a;
    border: none;
}

div.info a {
    color: black!important;
    font-weight: 600;
    text-transform: uppercase;
}

div.content-wrapper{
    background-color:  #fbfbfb!important;
}

/*menu lateral*/
aside.main-sidebar {
    background-color:  #00d27b;
    color: #fff;
}

aside.main-sidebar a{
    color: #fff;
}

.nav-sidebar .nav-item>.nav-link {
    color: black;
}

/*nav topo*/
nav.main-header {
    background-color:  #00d27b;
    border-bottom: 1px solid black;
}

/*cards da home*/
div.card {
    background-color:  #fff;
    color: black;
}

div.card-header{
    color:  black;
    font-size: 1.4em;
}

/*faturas foemulario*/
form.invoice-form input, form.invoice-form select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

/*Perfil*/
div.cover {
    width: 70px;
    margin-bottom: 5px;
}

div.cover img{
    border-radius: 50%;
}

input#cover {
    display: none;
}

/*rodapé*/
footer {
    background-color: #00ff5f!important;
}

.main-footer {
    border-top: none;
    background-color: #fff !important;
}

/*navegação do lado direito - perfil*/

aside.control-sidebar .aside-img {
    width: 100px;
    margin: 0 auto;
}

aside.control-sidebar a {
    color: white;
    display: block;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 575px) {
    div.title-invoice {
        text-align: center!important;
    }

    form.invoices-search {
        flex-direction: column;
    }
    form.invoices-search div.btn-search {
        justify-content: center;
    }

    form.invoices-search div.form-group {
        margin-right: 0!important;
    }

}
